body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  padding: 0; /* Rimuove il padding su mobile */
}

.container {
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: inline-block;
  max-width: 100%; /* Aumenta la larghezza massima su dispositivi mobili */
  width: 600px; /* Imposta una larghezza fissa su schermi più grandi */
  box-sizing: border-box; /* Garantisce che il padding sia incluso nella larghezza */
}

@media (max-width: 600px) {
  .container {
      width: 100%; /* Usa tutta la larghezza disponibile su schermi piccoli */
      padding: 10px; /* Riduce leggermente il padding su dispositivi mobili */
      margin: 0; /* Elimina margini laterali */
  }
}

  
img {
  width: 200px;
  border-radius: 50%;
}
  
h1 {
  font-size: 2rem;
  margin-top: 20px;
}
  
p {
  font-size: 1rem;
  color: #333;
}

.button-container {
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #aa11f1;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.hidden-section {
  display: none;
  margin-top: 30px;
}

.friend-card {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.friend-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.friend-card .story {
  text-align: left;
}
  
.gallery-section {
  margin-top: 30px;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.gallery img {
  width: 150px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

.image-popup {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.popup-image {
  width: 90%;
  height: 90%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 0;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

img[alt="thisman"] {
  width: 100%; /* L'immagine riempie tutto lo spazio disponibile nel container */
  max-width: 300px; /* Limita la larghezza massima dell'immagine */
  height: auto; /* Mantiene le proporzioni */
  border-radius: 50%;
  display: block; /* Assicura che l'immagine non abbia margini extra */
  margin: 0 auto; /* Centra l'immagine */
}

